@using WebPumpMVC.Data

@model IEnumerable<WebPumpMVC.Models.Pump>

    


@{
    ViewData["Title"] = "Index";
}
<h1>@ViewData["Title"]</h1>
<h2>Equipment</h2>





<form asp-controller="Equipment" asp-action="index">
    <p>
         Модель насоса :    <input type="text" name="Np" /> <br>
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.H)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Typ)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.H )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Typ )
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

